body{
    font-family: 'Saira Extra Condensed', sans-serif;
}

#header{
    text-align: center;
}

#header h1{
    font-size: 5em;
    margin: 0;
}

#header img{
    max-width: 100%;
    width: 95%;
    height: auto;
}

#content{
    padding: 2.5%;
    font-size: 1.5em;
}

#content div:last-child{
    text-align: center;
}

#content div p:first-child{
    margin-top: 0;
}

iframe{
    max-width: 100%;
}

#timeline{
    text-align: center;
}

#line{
    width: 5px;
    height: 600px;
    background-color: gray;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

#dots{
    position: absolute;
    display: inline-block;
    margin-left: -28px;
    margin-top: 10px;
    color: white;
}

.dot{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: black;
    font-size: 1.4em;
}

.dot p{
    margin: 0;
    margin-top: 6px;
}

footer{
    padding-left: 2.5%;
    text-align: center;
}

@media screen and (max-width: 450px){
    #header h1{
        font-size: 4em;
    }
}