body{
    font-family: 'Saira Extra Condensed', sans-serif;
}

#header{
    margin-top: 2.5%;
    text-align: center;
}

#header h1{
    font-size: 5em;
    margin: 0;
}

#header img{
    max-width: 100%;
    width: 95%;
    height: auto;
}

#content{
    padding: 2.5%;
    font-size: 1.5em;
}

#content div:last-child{
    text-align: center;
}

#content div p:first-child{
    margin-top: 0;
}

footer{
    padding-left: 2.5%;
    text-align: center;
}

@media screen and (max-width: 450px){
    #header h1{
        font-size: 4em;
    }
}