body{
    font-family: 'Saira Extra Condensed', sans-serif;
}

#header{
    margin-top: 5%;
    text-align: center;
}

#header h1{
    font-size: 5em;
    margin: 0;
}

#header img{
    max-width: 100%;
}

#content{
    padding: 2.5%;
    font-size: 1.5em;
}

@media screen and (max-width: 450px){
    #header h1{
        font-size: 4em;
    }
}